.cabecalho {
    background-color: rgb(127, 224, 216);
    color: black;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: rgb(213, 253, 253);
    padding: 100px;
}

.section2 {
    background-color: rgb(190, 140, 236);
    padding: 100px;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-imagem1{
    width: 10%;
}

.cabecalho-imagem2{
    width: 10%;
}

.rodape{
    background-color: rgb(197, 155, 236);
}


