.corpodosite {
    color: rgb(60, 0, 75);
}



.cabecalho {
    background-image: linear-gradient(rgb(124, 198, 216), rgb(191, 140, 236));
    color: black;
    display: flex;
    padding: 10px 0;
}

.section1 {
    background-image: linear-gradient(rgb(191, 140, 236), rgb(192, 124, 201));
    padding: 200px;
    font-size: larger;
}

.section2 {
    background-image: linear-gradient(rgb(192, 124, 201), rgb(200, 144, 212));
    padding: 200px;
    font-size: x-large;
}

.section3 {
    background-color: rgb(200, 144, 212);
    padding: 200px;
    font-size: x-large;
}

.section4 {
    background-color: rgb(200, 144, 212);
    padding: 200px;
    font-size: xx-large;
}

.section5 {
    background-color: rgb(200, 144, 212);
    padding: 200px;
    font-size: xx-large;
}

.cabecalho-imagem {
    width: 30%;
}

.cabecalho-imagem1 {
    width: 30%;
}

.cabecalho-imagem2 {
    width: 30%;
}

.cabecalho-imagem3 {
    width: 32%;
}

.cabecalho-imagem4 {
    width: 30%;
}

.cabecalho-imagem5 {
    width: 30%;
}

.rodape {
    background-color: rgb(95, 1, 99);
}