.cabecalho {
    background-color: rgb(127, 224, 216);
    color: black;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: rgb(213, 253, 253);
    padding: 100px;
}

.section2 {
    background-color: rgb(190, 140, 236);
    padding: 100px;
}

.cabecalho-imagem{
    width: 10%;
}